<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .block {
            margin: 25px;
            border-style: dotted;
        }
    </style>
</head>

<body>

    <div class="block">

        <ul>
            <li>
                <a onclick="router.onNavigate('/')" href="#">Home</a>
            </li>
            <li>
                <a onclick="router.onNavigate('/about')" href="#">About</a>

            </li>
        </ul>


        About Fragment


    </div>


    <script>
        var { router } = parent;



    </script>

</body>

</html>